@use './colors' as *;
@use './animations' as *;

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}


html{
	scroll-padding-top: 74px;
}

body {
	font-family: 'Montserrat', sans-serif;
	background-color: $bg-color;
	overflow-x: hidden;
}

.yellow-text {
	color: $main-color;
}

.bold-text{
	font-weight: bold;
}

.shadow-bg {
	background-color: rgba(0, 0, 0, 0.8);
}

.section-title {
	text-align: center;
	text-transform: uppercase;
}

.underline {
	margin: 0 auto 40px;
	width: 100px;
	border-bottom: 5px solid $main-color;
}

nav {
	text-transform: uppercase;
	z-index: 2;
	transition: 0.6s;

	.navbar-toggler {
		padding: 10px 15px;
	}

	.navbar-brand {
		font-weight: bold;
	}

	.nav-link,
	.navbar-nav .nav-link.show,
	.navbar-brand,
	.fa-bars {
		color: $links;
	}

	.nav-link:focus,
	.nav-link:hover,
	.navbar-nav .nav-link.active,
	.navbar-nav .nav-link.show,
	.navbar-brand:focus,
	.navbar-brand:hover {
		color: $main-color;
	}
}

header.hero-img {
	position: relative;
	height: 100vh;
	background-image: url(../img/hero-img-pc.jpg);
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	color: $links;
	text-transform: uppercase;
	z-index: 0;

	h1 {
		text-transform: uppercase;
	}

	.hero-shadow {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgb(0, 0, 0, 0.5);
		z-index: -1;
	}

	.hero-text {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		height: 100%;
	}

	.fa-chevron-down {
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		bottom: 20px;
		font-size: 30px;
		color: $main-color;
	}
}

.aboutus {
	i {
		margin-top: 20px;
		font-size: 30px;
	}

	.aboutus-card-title{
		font-size: 18px;
		text-transform: uppercase;
	}
	
	.aboutus-card-text{
		font-size: 14px;
	}

	.aboutus-hover{
		transition: color .3s
	}
	
	.aboutus-hover:hover{
		color:$underline;
	}

}

.achievements-hero{
	position: relative;
	background-image: url(../img/achievements-pc.jpg);
	background-size: cover;
	background-position: center;
	color: $arctic-white;
	z-index: 0;

	.achievemnts-shadow{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgb(0, 0, 0, 0.8);
		z-index: -5;
	}

	i{
		font-size: 30px;
	}

}


.team{
	.carousel-item{
		height: 600px;
	}

	.carousel-caption{
		left: 0;
		padding: 0;
		width: 100%;
		padding: 30px 0;
		background-color: rgba(0, 0, 0, 0.8);
	}

	.carousel-indicators{
		padding-bottom: 20px;
	}

	.carousel-indicators [data-bs-target]{
		background-color: $main-color;
	}

}

.contact{
	
	i{
		font-size: 30px;
		margin-left: 15px;
		padding-top: 15px;
		color: black;
		transition: color .6s;
	}

	i:hover{
		color:$underline;
	}
	
	.contact-box{
		margin: 20px;
	
		img{
			width: 50%;
			float: left;
		}

		hr{
			border: 3px solid black;
		}

	}

	.contact-title{
		font-weight: bold;
	}
}

.sponsors{
	background-color: rgb(0, 0, 0) !important;

	.sponsors-title,p{
		color: $main-color;
		text-transform: uppercase;
		font-size: 25px;
		padding: 15px 0;
	}

	img{
		width: 50%;
		transition: scale .6s;
	}

	img:hover{
		scale: .85;
	}
	
}

footer{
	p{
		font-weight: bold;
		color: black;
	}
}
	



@media (min-width: 768px) {
	.hero-text {
		h1 {
			font-size: 40px;
		}

		p {
			font-size: 15px;
		}
	}
}

@media (min-width: 1200px) {
	header.hero-img {
		background-image: url(../img/hero-img-mobile.jpg);
	}
}

@media(min-width: 992px){
	html{
		scroll-padding-top: 72px;
	}
}
